extends layout
block content
    main(ng-controller='BrowseController').container
        div.row
            div.col-sm-3
                h2 Sidebar
                form
                    div.input-group
                        input.form-control(type='text' placeholder='Search for...')
                        span.input-group-btn
                            button.btn.btn-primary
                                i.glyphicon.glyphicon-search
                    h3 Filter by...
                    div.form-group
                        label Category
                        select.form-control
                            option All
                            option CYOA
                            option Dating Sim
                            option Misc / Other
                    //div.form-group
                    //    label Genres
                    //    p
                    //        input(type='checkbox')
                    //        |  All
                    //    p
                    //        input(type='checkbox')
                    //        |  Adventure
                    //    p
                    //        input(type='checkbox')
                    //        |  Drama
                    //    p
                    //        input(type='checkbox')
                    //        |  Fantasy
                    //    p
                    //        input(type='checkbox')
                    //        |  Horror
                    //    p
                    //        input(type='checkbox')
                    //        |  Romance
                    //    p
                    //        input(type='checkbox')
                    //        |  Sci-fi
                    //    p
                    //        input(type='checkbox')
                    //        |  Misc / Other
            div.col-sm-9
                h2 Results
                p Total games found: {{games.length}}
                div.row
                    div(ng-repeat='game in games').col-sm-6
                        div.panel.panel-default
                            div.panel-heading
                                h3 {{game.title}}
                                p {{game.category}}
                            div.panel-body
                                h4 Info
                                ul.list-unstyled
                                    li Author: {{game.author}}
                                    li Rating: {{game.rating}} / 5
                                h4 Description
                                p {{game.description}}
                            div.panel-footer
                                button.btn.btn-primary PLAY NOW