extends layout
block content
    main.container(ng-controller='EditController')
        div.row
            div.col-sm-3
                h2 Sidebar
                ul.nav.nav-pills.nav-stacked
                    li
                        a
                            i.glyphicon.glyphicon-info-sign
                            |  Game Info
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown") Statistics (3)
                            span.caret
                        ul.dropdown-menu
                            li
                                a Inventory
                                a Main Character
                                a Love Interest
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown") Scenes (24)
                            span.caret
                        ul.dropdown-menu
                            li
                                a Scene 1
                                a Scene 2
            div.col-sm-9
                form
                    h1 Scene {{scene._id}}
                    div.form-group
                        p
                            input(type='checkbox')
                            |  Has prerequisites
                    div.form-group
                        label Title (Optional)
                        input.form-control(ng-model='scene.title' type='text' placeholder='Scene title')
                    div.form-group
                        label Body
                        textarea.form-control(ng-model='scene.content' rows=10)
                    h2 Choices
                    div(ng-repeat='choice in scene.choices track by $index')
                        h3 Choice {{$index + 1}}
                        div.well.well-sm
                            div.form-group.form-group-sm
                                p
                                    label Display text
                                    input.form-control(ng-model='choice.title' type='text' placeholder='Display text')
                                p
                                    label Leads to:
                                    select.form-control
                                        option {{choice.scenes[0].title}}
                                p
                                    input(type='checkbox')
                                    |  Has prerequisites
                                p
                                    input(ng-checked='choice.statistics.length > 0' type='checkbox')
                                    |  Changes a statistic

                    div.form-group.form-group-sm
                        button.btn.btn-primary
                            i.glyphicon.glyphicon-plus
                            |  Add another choice