extends layout

block navigation
    h3.align-center Dashboard
    md-button.nav-btn
        i.fa.fa-user
        span  Profile
    md-button.nav-btn
        i.fa.fa-cog
        span  Settings
    md-button.nav-btn
        i.fa.fa-pencil
        span  Editor

block content
    div(flex='80')
        md-grid-list(md-cols-sm='2' md-cols-md='4' md-cols-gt-md='6' md-row-height='1:1' md-gutter='1rem')
            md-grid-tile(ng-repeat='game in [1, 2, 3, 4, 5, 6, 7, 8]' md-rowspan='1' md-colspan='2')
                md-card(flex)
                    md-card-content
                        h2 Game {{game}}