doctype html
html(ng-app='app')
    head
        title= 'SCRAWLED | ' + title
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/styles/style.css')
        script(src='/vendor/angular/angular.min.js')
        script(src='/assets/scripts/app.min.js')
    body
        nav.navbar.navbar-default.navbar-static-top
            div.container
                a.navbar-brand(href='/') SCRAWLED
                ul.nav.navbar-nav
                    li
                        a(href='/play') Play
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/users/login') Log Out
        block content