doctype html
html(ng-app='app')
    head
        title= 'SCRAWLED | ' + title
        meta(name='viewport' content='initial-scale=1')

        link(rel='stylesheet' href='/vendor/angular-material/angular-material.min.css')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css')
        link(rel='stylesheet' href='/assets/styles/style.css')

        script(src='/vendor/angular/angular.min.js')
        script(src='/vendor/angular-animate/angular-animate.min.js')
        script(src='/vendor/angular-aria/angular-aria.min.js')
        script(src='/vendor/angular-material/angular-material.min.js')
        script(src='/assets/scripts/app.min.js')

    body(ng-controller='MainController')
        nav.nav-main
            md-button.md-fab.md-primary(ng-click='toggleLeft()')
                i.fa.fa-lg.fa-bars
        md-sidenav.md-sidenav-left(md-component-id='left')
            md-content(flex layout-padding layout='column')
                //block navigation
                //md-divider
                md-button.nav-btn(href='/play')
                    i.fa.fa-play
                    span  Play
                md-button.nav-btn(href='/about')
                    i.fa.fa-info
                    span  About
                md-button.nav-btn(href='/users/logout?returnTo=/users/login')
                    i.fa.fa-sign-out
                    span  Log Out
                md-button.nav-btn(ng-click='closeLeft()')
                    i.fa.fa-times
                    span  Close
        main.wrapper(layout='row' layout-align='center')
            block content