extends layout
block content
    form(method='post' action='/users/login' layout='column' flex='50' offset='25')
        header
            h1 Welcome back.

        section
            md-input-container
                label Username
                input(name='username' type='text' required)

            md-input-container
                label Password
                input(name='password' type='password' required)

        footer(layout-align='center center')
            md-button.md-raised.md-primary Log In
            md-button(href='/users/register') Register