extends layout

block content
    main.container(ng-controller='PlayController')
        div.row
            div.col-sm-3
                h2 Sidebar
                ul.list-unstyled
                    li
                        strong Money:
                        |  $14.33
                    li
                        strong Hipster Level:
                        |  Poseur
                hr
                ul.nav.nav-pills.nav-stacked
                    li
                        a Character
                    li
                        a Inventory
                    li
                        a
                            i.glyphicon.glyphicon-play-circle
                            |  Current Scene
            div.col-sm-9
                h1 {{scene.title}}
                div {{scene.content}}
                footer.well.well-sm
                    ul.list-inline
                        li(ng-repeat='choice in scene.choices')
                            button.btn.btn-default.btn-sm(ng-click='continue(choice)') {{choice.title}}