extends layout

block content
    div.row
        div.col-sm-3
            h2 Sidebar
            ul.list-unstyled
                li
                    strong Money:
                    |  $14.33
                li
                    strong Hipster Level:
                    |  Poseur
            hr
            ul.nav.nav-pills.nav-stacked
                li
                    a Character
                li
                    a Inventory
                li
                    a
                        i.glyphicon.glyphicon-play-circle
                        |  Current Scene
        div.col-sm-9
            h1 A hipster argument
            p "Food truck semiotics jean shorts asymmetrical, craft beer 3 wolf moon Kickstarter mixtape. Occupy Tumblr cardigan synth street art skateboard. Thundercats sriracha +1, High Life fashion axe mumblecore Schlitz. Vinyl small batch 8-bit bespoke, Wes Anderson Vice cred Banksy actually.
            p "Blog stumptown ugh flannel pork belly, roof party Brooklyn beard Blue Bottle semiotics Intelligentsia chia pickled trust fund. YOLO tofu High Life, selvage Portland vegan salvia. Forage gastropub Brooklyn Etsy, street art typewriter fap photo booth scenester DIY heirloom whatever fanny pack viral.
            p "Disrupt pork belly put a bird on it PBR&B, Godard master cleanse American Apparel viral retro forage quinoa taxidermy flexitarian semiotics. Schlitz selfies banjo slow-carb, art party selvage post-ironic Neutra Marfa synth Banksy meggings. Sartorial gluten-free wolf, biodiesel food truck yr Marfa skateboard Intelligentsia stumptown deep v Helvetica letterpress paleo you probably haven't heard of them. Single-origin coffee brunch banh mi, trust fund mustache flexitarian bespoke.
            p "Cold-pressed flannel Marfa, four dollar toast retro locavore cliche Intelligentsia iPhone vegan mustache kitsch health goth. Gentrify Neutra selvage, sartorial fashion axe bicycle rights literally American Apparel meditation chillwave twee Vice health goth fingerstache brunch. Sriracha health goth before they sold out cronut, viral slow-carb lo-fi tattooed."
            p
                strong What do you say in response?
            footer.well.well-sm
                ul.list-inline
                    li
                        button.btn.btn-default.btn-sm "Ugh."
                    li
                        button.btn.btn-default.btn-sm "I liked them before they were cool."
                    li
                        button.btn.btn-default.btn-sm "You probably wouldn't recognize it."