extends layout

block content
    div(ng-controller='PlayController' layout='row' layout-align='center' flex)
        div(flex-gt-md='70' flex='85' flex-sm='100' layout-padding layout-margin layout-align='top center')
            h2 {{scene.title}}
            div
                p {{scene.content}}
            footer(flex layout='row' layout-sm='column')
                md-button.align-left(ng-repeat='choice in scene.choices' ng-click='continue(choice)') {{choice.title}}