extends layout

block navigation
    h3.align-center Fantasy Game
    md-button.nav-btn
        i.fa.fa-user
        span  Character

block content
    div(ng-controller='PlayController' layout='row' layout-align='center' flex)
        div(flex-gt-lg='50' flex='75' flex-sm='95' layout-padding layout-margin layout-align='top center')
            h2.align-center {{scene.title}}
            div
                p {{scene.content}}
            footer(flex layout='row' layout-sm='column')
                md-button.play-btn.md-primary.md-raised(ng-repeat='choice in scene.choices' ng-click='continue(choice)') {{choice.title}}
            div(ng-show='loading')
                md-progress-circular(md-mode='indeterminate').md-primary