extends layout

block navigation
    h3.align-center Fantasy Game
    md-button.align-left
        i.fa.fa-user
        span  Character

block content
    div(ng-controller='PlayController' layout='row' layout-align='center' flex)
        div(flex-gt-lg='50' flex='75' flex-sm='95' layout-padding layout-margin layout-align='top center')
            h2 {{scene.title}}
            div
                p {{scene.content}}
            footer(flex layout='row' layout-sm='column')
                md-button.align-left(ng-repeat='choice in scene.choices' ng-click='continue(choice)') {{choice.title}}