extends layout
block content
    form(method='post' action='/users/register' layout='column' flex='50' offset='25')
        header
            h1 Register

        section
            md-input-container
                label Username
                input(name='username' type='text' required)

            md-input-container
                label Password
                input(name='password' type='password' required)

            md-input-container
                label E-mail
                input(name='email' type='email' required)

        footer(layout-align='center center')
            md-button.md-raised.md-primary Register
            md-button(href='/users/login') Go back