@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Montserrat);

// Color variables

$primary-color: #ff5722;
$accent-color: #bf360c;
$dark-color: #212121;
$light-color: #f5f5f5;
$grey-color: #8a8a8a;

$font-color: $light-color;
$bg-color: $dark-color;

$bg-20: rgba(0, 0, 0, .2);
$bg-50: rgba(0, 0, 0, .5);


html {
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: $bg-color url(../images/dark_wall.png);
  min-height: 100%;
  color: $font-color;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: $primary-color;
}

h2, h3 {
  color: darken($primary-color, 5%);
}

img {
  max-width: 100%;
}

*:focus, *:active {
  outline-color: $accent-color !important;
}

a {
  color: $accent-color;
}

a:hover, a:focus {
  color: darken($accent-color, 5%);
}

.progress-bar {
  background-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
  border: 1px solid darken($primary-color, 10%);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: darken($primary-color, 10%);
  border: 1px solid darken($primary-color, 15%);
}

.form-control {
  background: $bg-50;
  color: #eedecb;
  border: none;
}

.img-rounded {
  border: 1px solid $dark-color;
  border-radius: 3px;
}

.header-subtitle * {
  float: left;
}

.header-subtitle *:last-child {
  float: right;
}

.dashboard-table tr td:last-child {
  width: 15%;
}

.dashboard-table tr th {
  width: 33%;
}

/*      Modules     */

.navbar-default {
  background: $bg-50;
  border: none;
}

.navbar-default .navbar-brand {
  color: $primary-color;
  font-family: Montserrat, sans-serif;
}

.navbar-default .navbar-nav>li>a {
  color: $accent-color;
  font-family: Montserrat, sans-serif;
}

.well, .panel {
  background: $bg-20;
  border: $dark-color solid 1px;
}

.panel-default>.panel-heading, .panel-default>.panel-footer {
  background: $bg-20;
  border: none;
}

.table {
  background: $bg-20;
}

.table>tbody>tr>th, .table>tbody>tr>td {
  border-top: 1px $dark-color solid;
}

.nav-pills>li>a {
  background: $bg-20;
}

.nav-pills>li:hover, .nav-pills>li:focus {
  background: none;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
  background: $bg-50;
}

.scene-content {
  margin-bottom: 20px;
  background: $bg-20;
  padding: 20px;
}