img {
  max-width: 100%;
}

.img-rounded {
  border: 1px solid #212121;
  border-radius: 3px;
}

.header-subtitle * {
  float: left;
}

.header-subtitle *:last-child {
  float: right;
}

.dashboard-table tr td:last-child {
  width: 15%;
}

.dashboard-table tr th {
  width: 33%;
}